<launch>
    <arg name="use_gui" default="false"/>
    <arg name="use_rviz" default="false"/>
    <arg name="robot_type" value="$(env ROBOT_TYPE)" doc="robot_type [X1,X3,X3plus,R2,X7]"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find yahboomcar_description)/urdf/yahboomcar_$(arg robot_type).urdf'"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- MQTT Bridge node -->
    <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
        <rosparam file="$(find mqtt_bridge)/config/bridge_config.yaml" command="load"/>
    </node>



    <!-- AMCL -->
    <include file="$(find yahboomcar_nav)/launch/library/amcl.launch"/>
    <!-- APP-->
    <include file="$(find yahboomcar_nav)/launch/library/app.launch"/>
    <!-- move_base -->
    <include file="$(find yahboomcar_nav)/launch/library/move_base.launch"/>
    <!-- RVIZ -->
    <include file="$(find yahboomcar_nav)/launch/view/view_navigate.launch" if="$(arg use_rviz)"/>
    
    <!-- Whether to open rviz -->
    <arg name="use_rviz" default="true"/>
    <!-- Map name  my_map-->
    <arg name="map" default="my_map"/>
    <!-- MarkerArray node> -->
    <node name='send_mark' pkg="yahboomcar_nav" type="send_mark.py"/>
    <!-- Load map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find yahboomcar_nav)/maps/$(arg map).yaml"/>
   
</launch>
